// Graph
@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
    @while $i > 0 {
        &:nth-of-type(#{$i}) {
            animation-delay: $initial-delay + $stagger-delay * $i;
        }
        $i: $i - 1;
    }
}

.charts_container {
    margin-top: 10%;

    h4 {
        font-size: 24px;
        padding-bottom: 20px;
        font-weight: 800;
    }

    .container {
        margin: auto;
        margin-top: 50px;
        width: 600px;
    }
    .tableWrapper {
        padding: 20px;
        width: 550px;
        max-width: 95vw;
        height: 100%;
    }
    .skillGraphItem {
        color: #181818;
        font-size: 16px;
        font-weight: 800;
        line-height: 20px;
        padding-right: 10px;
        text-align: right;
    }
    div.yellowBarMax {
        width: 0px;
        height: 15px;
        background: #f6b220;
        position: relative;
        animation: barMax 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.blueBarMax {
        width: 0px;
        height: 15px;
        background: #0e2f44;
        position: relative;
        animation: barMax 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.yellowBarVHigh {
        width: 0px;
        height: 15px;
        background: #f6b220;
        position: relative;
        animation: barVHigh 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.blueBarVHigh {
        width: 0px;
        height: 15px;
        background: #0e2f44;
        position: relative;
        animation: barVHigh 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.yellowBarHigh {
        width: 0px;
        height: 15px;
        background: #f6b220;
        position: relative;
        animation: barHigh 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.blueBarHigh {
        width: 0px;
        height: 15px;
        background: #0e2f44;
        position: relative;
        animation: barHigh 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.yellowBarHalf {
        width: 0px;
        height: 15px;
        background: #f6b220;
        position: relative;
        animation: barHalf 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.blueBarHalf {
        width: 0px;
        height: 15px;
        background: #0e2f44;
        position: relative;
        animation: barHalf 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.yellowBarLow {
        width: 0px;
        height: 15px;
        background: #f6b220;
        position: relative;
        animation: barLow 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.blueBarLow {
        width: 0px;
        height: 15px;
        background: #0e2f44;
        position: relative;
        animation: barLow 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.yellowBarVLow {
        width: 0px;
        height: 15px;
        background: #f6b220;
        position: relative;
        animation: barVLow 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    div.blueBarVLow {
        width: 0px;
        height: 15px;
        background: #0e2f44;
        position: relative;
        animation: barVLow 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes barMax {
        from {
            width: 0vw;
        }
        to {
            width: 100vw;
        }
    }
    @keyframes barVHigh {
        from {
            width: 0vw;
        }
        to {
            width: 35vw;
        }
    }
    @keyframes barHigh {
        from {
            width: 0vw;
        }
        to {
            width: 30vw;
        }
    }
    @keyframes barHalf {
        from {
            width: 0vw;
        }
        to {
            width: 25vw;
        }
    }
    @keyframes barLow {
        from {
            width: 0vw;
        }
        to {
            width: 15vw;
        }
    }
    @keyframes barVLow {
        from {
            width: 0vw;
        }
        to {
            width: 5vw;
        }
    }
}
