.charts_container {
  margin-top: 10%;
}

.charts_container h4 {
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: 800;
}

.charts_container .container {
  margin: auto;
  margin-top: 50px;
  width: 600px;
}

.charts_container .tableWrapper {
  padding: 20px;
  width: 550px;
  max-width: 95vw;
  height: 100%;
}

.charts_container .skillGraphItem {
  color: #181818;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  padding-right: 10px;
  text-align: right;
}

.charts_container div.yellowBarMax {
  width: 0px;
  height: 15px;
  background: #f6b220;
  position: relative;
  -webkit-animation: barMax 3s;
          animation: barMax 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.blueBarMax {
  width: 0px;
  height: 15px;
  background: #0e2f44;
  position: relative;
  -webkit-animation: barMax 3s;
          animation: barMax 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.yellowBarVHigh {
  width: 0px;
  height: 15px;
  background: #f6b220;
  position: relative;
  -webkit-animation: barVHigh 3s;
          animation: barVHigh 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.blueBarVHigh {
  width: 0px;
  height: 15px;
  background: #0e2f44;
  position: relative;
  -webkit-animation: barVHigh 3s;
          animation: barVHigh 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.yellowBarHigh {
  width: 0px;
  height: 15px;
  background: #f6b220;
  position: relative;
  -webkit-animation: barHigh 3s;
          animation: barHigh 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.blueBarHigh {
  width: 0px;
  height: 15px;
  background: #0e2f44;
  position: relative;
  -webkit-animation: barHigh 3s;
          animation: barHigh 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.yellowBarHalf {
  width: 0px;
  height: 15px;
  background: #f6b220;
  position: relative;
  -webkit-animation: barHalf 3s;
          animation: barHalf 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.blueBarHalf {
  width: 0px;
  height: 15px;
  background: #0e2f44;
  position: relative;
  -webkit-animation: barHalf 3s;
          animation: barHalf 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.yellowBarLow {
  width: 0px;
  height: 15px;
  background: #f6b220;
  position: relative;
  -webkit-animation: barLow 3s;
          animation: barLow 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.blueBarLow {
  width: 0px;
  height: 15px;
  background: #0e2f44;
  position: relative;
  -webkit-animation: barLow 3s;
          animation: barLow 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.yellowBarVLow {
  width: 0px;
  height: 15px;
  background: #f6b220;
  position: relative;
  -webkit-animation: barVLow 3s;
          animation: barVLow 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.charts_container div.blueBarVLow {
  width: 0px;
  height: 15px;
  background: #0e2f44;
  position: relative;
  -webkit-animation: barVLow 3s;
          animation: barVLow 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes barMax {
  from {
    width: 0vw;
  }
  to {
    width: 100vw;
  }
}

@keyframes barMax {
  from {
    width: 0vw;
  }
  to {
    width: 100vw;
  }
}

@-webkit-keyframes barVHigh {
  from {
    width: 0vw;
  }
  to {
    width: 35vw;
  }
}

@keyframes barVHigh {
  from {
    width: 0vw;
  }
  to {
    width: 35vw;
  }
}

@-webkit-keyframes barHigh {
  from {
    width: 0vw;
  }
  to {
    width: 30vw;
  }
}

@keyframes barHigh {
  from {
    width: 0vw;
  }
  to {
    width: 30vw;
  }
}

@-webkit-keyframes barHalf {
  from {
    width: 0vw;
  }
  to {
    width: 25vw;
  }
}

@keyframes barHalf {
  from {
    width: 0vw;
  }
  to {
    width: 25vw;
  }
}

@-webkit-keyframes barLow {
  from {
    width: 0vw;
  }
  to {
    width: 15vw;
  }
}

@keyframes barLow {
  from {
    width: 0vw;
  }
  to {
    width: 15vw;
  }
}

@-webkit-keyframes barVLow {
  from {
    width: 0vw;
  }
  to {
    width: 5vw;
  }
}

@keyframes barVLow {
  from {
    width: 0vw;
  }
  to {
    width: 5vw;
  }
}
/*# sourceMappingURL=charts.css.map */