{% if post.id %} {% assign title = post.title | markdownify | strip_html %} {%
else %} {% assign title = post.title %} {% endif %}

<article class="entry">
    <div class="projects-container">
        <div class="projects-item">
            <div class="card mb-3 shadow-lg">
                <div class="row no-gutters">
                    <div class="col-md">
                        {% if post.image.thumbnail %} {% assign entry_image =
                        post.image.thumbnail %} {% unless entry_image contains
                        '://' %} {% assign entry_image = entry_image |
                        relative_url %} {% endunless %} {% assign entry_image =
                        entry_image | escape %}
                        <img src="{{ entry_image }}" class="card-img" alt="" />
                        {% endif %}
                    </div>
                    <div class="col-md">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ title }}</h4>
                            <p class="card-text mt-auto">
                                {{ post.description }}
                            </p>
                            <div class="techs-wrapper mt-auto">
                                <div class="tech-items">
                                    <span>{{ post.tech.tech1 }}</span>
                                </div>
                                <div class="tech-items">
                                    <span>{{ post.tech.tech2 }}</span>
                                </div>
                                <div class="tech-items">
                                    <span>{{ post.tech.tech3 }}</span>
                                </div>
                            </div>
                            <a
                                class="mt-auto btn btn-light"
                                href="{{ post.link }}"
                                role="button"
                            >
                                VIEW PROJECT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
